allow untrusted_app bt_firmware_file:dir read;
allow untrusted_app sysfs_zram:dir search;
allow untrusted_app rfs_system_file:dir getattr;
allow untrusted_app rootfs:dir read;
allow untrusted_app sysfs:file read;
